.navbar {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    text-align: center;
    padding: 1px 0px;
}

.navbar p {
    font-size: 2em;
    font-weight: bolder;
    color: white;
}