 .row {
     width: 500px;
     height: fit-content;
     padding: 2px;
     background-color: transparent;
     margin-top: 10px;
     display: grid;
     grid-template-columns: 90% 10%;
     border: 2px solid white;
     border-radius: 5px;
 }
 
 .row p {
     width: inherit;
     background-color: transparent;
 }
 
 .row button {
     height: fit-content;
     width: fit-content;
     margin: auto;
     font-size: 1.2em;
     color: white;
     background-color: transparent;
     outline: none;
     border: none;
 }